<div class="container coasters-index">

  <a href="/coaster/new-coaster" class="btn btn-dark">Crear nueva montaña rusa</a>

  <h1 style="font-weight: 100">Índice de montañas rusas</h1>
  
{{#each coasterArr}}
  <hr>
  <a href="/coaster/{{this._id}}" class="btn btn-sm btn-dark">Ver detalles</a>
  <a href="/coaster/delete?id={{this._id}}" class="btn btn-sm btn-dark">Eliminar</a>
  <a href="/coaster/edit?id={{this._id}}" class="btn btn-sm btn-dark">Editar</a>
  <h4>Nombre de montaña rusa: {{this.name}}</h4>
  <p>Descripción de montaña rusa: {{this.description}}</p>
  <small><strong>Longitud: </strong>{{this.length}} 000m | <strong>Inversiones: </strong> {{this.inversions}} | <strong>Parque: </strong> {{this.park.name}}</small>
  <hr>

{{/each}}

</div>